@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;600&display=swap%27");
body {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo {
  width: 10em;
  margin-top: 4%;
  margin-left: 12em;
}

p {
  font-family: "Outfit", sans-serif;
  color: white;
}

h1 {
  font-size: 2.6em;
  color: white;
  font-family: "Outfit", sans-serif;
}

h5 {
  font-size: 1em;
  font-family: "Outfit", sans-serif;
}

.text-results-h1 {
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}
.text-results-h5 {
  text-align: center;
  color: white;
  padding: 0.5em;
}

.container-results {
  width: 100%;
  height: 100vh;
}

#graphic {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 40px solid #00ffff;
  translate: 570px;
  margin-top: 2%;
}

#button-rate-us {
  margin-left: 20.6%;
  margin-top: 6vh;
  border: 2px solid white;
  color: white;
  background: none;
  padding: 12px;
  width: 190px;
  font-size: 1.2em;
  font-weight: bold;
  box-shadow: -4px -6px 50px 6px rgba(0, 255, 255, 0.21);
  cursor: pointer;
}

#section-percentage {
  margin: 2em 0 2em 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

#chart {
  height: 20em;
  display: flex;
  flex-direction: column;
}

#correct {
  width: auto;
  height: auto;
  display: inline-block;
  margin-left: px;
  color: white;
  font-weight: bold;
  flex-direction: inherit;
}

#wrong {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
}
