@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;600&display=swap%27');

body {
    font-family: 'Outfit', sans-serif;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: "Outfit", sans-serif;
    font-weight: bold;
    font-size: 2em;
    
}

p {
    font-family: "Outfit", sans-serif;
    margin-top: 20px;
    padding: 10px;
    
}

#logo-header {
    width: 200px;
    margin-left: 150px;
    margin-top: 4%;
}

.container-review {
    font-family: "Outfit", sans-serif;
    width: 100%;
    height: auto;
    
}

.container-section1 {
    font-family: "Outfit", sans-serif;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 5%;
    font-size: 1.6em;
}

.container-section2 {
    font-family: "Outfit", sans-serif;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.container-section3 {
    font-family: "Outfit", sans-serif;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.6em;
    margin-top: 60px;
}

.star-off {
    display: inline-block;
    font-size: 3em;
    margin-top: 10px;
    padding: 5px;
    color: #696969	;
}

.star-off:hover{
    color: #00FFFF;
    cursor: pointer;
}

.star-on {
    color: #00FFFF;
}

#comment {
    display: block;
    margin-left: 27%;
    margin-top: 40px;
    background: none;
    font-size: 0.7em;
    width: 730px;
    border: none;
    color: white;
}

#comment:focus{
    border:none;
    outline-style: none;
}

hr {
    margin-right: 25%;
    margin-left: 25%;
    border-color: #D20094;
}

#button-finish {
    margin-left: 43%;
    margin-top: 30px;
    border: none;
    background-color: #00FFFF;
    padding: 15px;
    height: 53px;
    width: 190px;
    cursor: pointer;
    font-size: 1.3em;
    box-shadow:3px -3px 50px 9px rgba(0,255,255,0.75);
    font-weight: bold;
}

